# Deep Learning
torch
torchvision
torchaudio
timm

# Computer Vision
opencv-python-headless
Pillow
albumentations
grad-cam
ttach

# Data Science
numpy
pandas
scikit-learn
matplotlib
scipy

# Dataset
kagglehub

# Utilities
tqdm
PyYAML
tensorboard

fastapi
uvicorn
python-multipart
